# This is Git's per-user configuration file.
[user]
  name = Ed Rude
  email = ed.rude@gmail.com
	signingkey = 117DD31DB55F2F18
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[alias]
	fpush = push --force-with-lease
	recom = commit --amend --no-edit
	recomfp = !git commit --amend --no-edit && git push --force-with-lease
[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = !gh auth git-credential
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
	program = gpg
